html,
body {
  min-width:290px;
  color:#4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}
#navbar{
  position:fixed;
  min-width:290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height:100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
#react-img {
  margin-left:auto;
  margin-right:auto;
  min-width:100px;
  height:200px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
   
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  
}
#react-app-img {
  height:500px;
  width: 100%
}
section article {
  color: #4d4ed53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border-left: 10px solid #1DB9C3;
}
blockquote{
  display: block;
  text-align: left;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border-left: 10px solid;
  border-color: rgba(0, 22, 22, 0.4);
  }
@media only screen and (max-width: 815px){
  /*For mobile phones*/
  #navbar ul {
    border: 1px solid;
    height:207px;
  }
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  /*#img*/
  
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    
  }
#react-app-img {
  height:400px;
  width: 100%
}
}

@media only screen and (max-width: 400px){
  #main-doc {margin-left: -10px;
}
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
    border-left: 5px solid #1DB9C3;
  }
  blockquote {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
    }
  #react-app-img {
  height:300px;
  width: 100%
}
}
#typing, #intro {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #1DB9C3; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(24, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}